<!DOCTYPE html>
<html>
<head>
  <title>Using NIMBLE in a neat way</title>
</head>
<body>

<!--begin.rcode, echo=FALSE, results = FALSE
  library(knitr)
  opts_chunk$set(fig.width=6, fig.height=4)
  library(methods) ## needed only when building documents outside of R
  library(nimble, warn.conflicts = FALSE)
  end.rcode-->


<h1>Posterior predictive sampling and other post-MCMC use of samples in NIMBLE</h1>

</p>(Prepared by Chris Paciorek and Sally Paganin.)</p>

<p>Once one has samples from an MCMC, one often wants to do some post hoc manipulation of the samples. An important example is posterior predictive sampling, which is needed for posterior predictive checking.</p>

<p>With posterior predictive sampling, we need to simulate new data values, once for each posterior sample. These samples can then be compared with the actual data as a model check.</p>

<p>In this example, we'll follow the posterior predictive checking done in the Gelman et al. Bayesian Data Analysis book, using Newcomb's speed of light measurements (Section 6.3).</p>

<h2>Posterior predictive sampling using a loop in R</h2>

Simon Newcomb made 66 measurements of the speed of light, which one might model using a normal distribution. One question discussed in Gelman et al. is whether the lowest measurements, which look like outliers, could have reasonably come from a normal distribution.

<h3>Setup</h3>

We set up the nimble model. 

<!--begin.rcode
library(nimble, warn.conflicts = FALSE)

code <- nimbleCode({
    ## noninformative priors
    mu ~ dflat()
    sigma ~ dhalfflat()
    ## likelihood
    for(i in 1:n) {
     	y[i] ~ dnorm(mu, sd = sigma)
    }
})

data <- list(y = MASS::newcomb)
inits <- list(mu = 0, sigma = 5)
constants <- list(n = length(data$y))

model <- nimbleModel(code = code, data = data, constants = constants, inits = inits)
end.rcode-->

Next we'll create some vectors of node names that will be useful for our manipulations.

<!--begin.rcode
## Ensure we have the nodes needed to simulate new datasets
dataNodes <- model$getNodeNames(dataOnly = TRUE)
parentNodes <- model$getParents(dataNodes, stochOnly = TRUE)  # `getParents` is new in nimble 0.11.0
## Ensure we have both data nodes and deterministic intermediates (e.g., lifted nodes)
simNodes <- model$getDependencies(parentNodes, self = FALSE)
end.rcode-->

Now run the MCMC.

<!--begin.rcode
cmodel 	<- compileNimble(model)
mcmc    <- buildMCMC(model, monitors = parentNodes)
cmcmc   <- compileNimble(mcmc, project = model)

samples <- runMCMC(cmcmc, niter = 1000, nburnin = 500)
end.rcode-->

<h3>Posterior predictive sampling by direct variable assignment</h3>

We'll loop over the samples and use the compiled model (uncompiled would be ok too, but slower) to simulate new datasets.

<!--begin.rcode
nSamp <- nrow(samples)
n <- length(data$y)
ppSamples <- matrix(0, nSamp, n)

set.seed(1)
for(i in 1:nSamp){
  cmodel[["mu"]] <- samples[i, "mu"]             ## or cmodel$mu <- samples[i, "mu"]
  cmodel[["sigma"]] <- samples[i, "sigma"]
  cmodel$simulate(simNodes, includeData = TRUE)
  ppSamples[i, ] <- cmodel[["y"]]
}
end.rcode-->

<h3>Posterior predictive sampling using <tt>values</tt></h3>

That's fine, but we needed to manually insert values for the different variables. For a more general solution, we can use nimble's <tt>values</tt> function as follows.

<!--begin.rcode
ppSamples <- matrix(0, nrow = nSamp, ncol =
          length(model$expandNodeNames(dataNodes, returnScalarComponents = TRUE)))
postNames <- colnames(samples)

set.seed(1)
system.time({
for(i in seq_len(nSamp)) {
    values(cmodel, postNames) <- samples[i, ]  # assign 'flattened' values
    cmodel$simulate(simNodes, includeData = TRUE)
    ppSamples[i, ] <- values(cmodel, dataNodes)
}
})
end.rcode-->

Side note: For large models, it might be faster to use the variable names as the second argument to <tt>values()</tt> rather than the names of all the elements of the variables. If one chooses to do this, it's important to check that the ordering of variables in the 'flattened' values in <tt>samples</tt> is the same as the ordering of variables in the second argument to <tt>values</tt> so that the first line of the for loop assigns the values from <tt>samples</tt> correctly into the model. 

<h3>Doing the posterior predictive check</h3>

At this point, we can implement the check we want using our chosen discrepancy measure. Here a simple check uses the minimum observation.

<!--begin.rcode postpred_hist, fig.cap=''
obsMin <- min(data$y)
ppMin <- apply(ppSamples, 1, min)

# ## Check with plot in Gelman et al. (3rd edition), Figure 6.3
hist(ppMin, xlim = c(-50, 20),
    main = "Discrepancy = min(y)", 
    xlab = "min(y_rep)")
abline(v = obsMin, col = 'red')
end.rcode-->

<h2>Fast posterior predictive sampling using a nimbleFunction</h2>

The approach above could be slow, even with a compiled model, because the loop is carried out in R. We could instead do all the work in a compiled nimbleFunction.

<h3>Writing the nimbleFunction</h3>

<p>Let's set up a nimbleFunction. In the setup code, we'll manipulate the nodes and variables, similarly to the code above. In the run code, we'll loop through the samples and simulate, also similarly.</p>

<p>Remember that all querying of the model structure needs to happen in the setup code. We also need to pass the MCMC object to the nimble function, so that we can determine at setup time the names of the variables we are copying from the posterior samples into the model.</p>

<p>The run code takes the actual samples as the input argument, so the nimbleFunction will work regardless of how long the MCMC was run for.</p>

<!--begin.rcode
ppSamplerNF <- nimbleFunction(
          setup = function(model, mcmc) {
              dataNodes <- model$getNodeNames(dataOnly = TRUE)
              parentNodes <- model$getParents(dataNodes, stochOnly = TRUE)
              cat("Stochastic parents of data are:", paste(parentNodes, collapse = ','), ".\n")
              simNodes <- model$getDependencies(parentNodes, self = FALSE)
              vars <- mcmc$mvSamples$getVarNames()  # need ordering of variables in mvSamples / samples matrix
              cat("Using posterior samples of:", paste(vars, collapse = ','), ".\n")
              n <- length(model$expandNodeNames(dataNodes, returnScalarComponents = TRUE))
          },
          run = function(samples = double(2)) {
              nSamp <- dim(samples)[1]
              ppSamples <- matrix(nrow = nSamp, ncol = n)   
              for(i in 1:nSamp) {
                    values(model, vars) <<- samples[i, ]
                    model$simulate(simNodes, includeData = TRUE)
                    ppSamples[i, ] <- values(model, dataNodes)
              }
              returnType(double(2))       
              return(ppSamples)
          })
end.rcode-->

<h3>Using the nimbleFunction</h3>

We'll create the instance of the nimbleFunction for this model and MCMC.
Then we run the compiled nimbleFunction.

<!--begin.rcode
## Create the sampler for this model and this MCMC.
ppSampler <- ppSamplerNF(model, mcmc)
cppSampler <- compileNimble(ppSampler, project = model)

## Check ordering of variables is same in 'vars' and in 'samples'.
colnames(samples)  
identical(colnames(samples), model$expandNodeNames(mcmc$mvSamples$getVarNames()))

set.seed(1)
system.time(ppSamples_via_nf <- cppSampler$run(samples))

identical(ppSamples, ppSamples_via_nf)
end.rcode-->

<p>So we get exactly the same results (note the use of <tt>set.seed</tt> to ensure this) but much faster.</p>

<p>Here the speed doesn't really matter but for more samples and larger models it often will, even after accounting for the time spent to compile the nimbleFunction.</p>

</body>
</html>
